In [1]:
import nltk
import pandas as pd

In [2]:
df=pd.read_csv('Restaurant_Reviews.tsv',sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [3]:
import string

In [4]:
from nltk.corpus import stopwords

In [5]:
stop_words=stopwords.words('english')

In [6]:
from nltk.stem import PorterStemmer

In [7]:
ps=PorterStemmer()

In [8]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [9]:
def clean_text(msg):
    m=[w for w in msg if w not in string.punctuation]
    m=''.join(m)
    
    b=[ps.stem(w) for w in msg]
    
    rm_stop_words=[w for w in m.split() if w.lower() not in stop_words]
    return' '.join(rm_stop_words)

In [10]:
df.Review=df.Review.apply(clean_text)

In [11]:
df.head()

                                              Review  Liked
0                                    Wow Loved place      1
1                                         Crust good      0
2                                tasty texture nasty      0
3  Stopped late May bank holiday Rick Steve recom...      1
4                        selection menu great prices      1